.ex {
    visibility: hidden!important;
}


/* ngb-typeahead-window {
    visibility: hidden!important;
    display: none!important;
}

ngb-typeahead-window {
    visibility: hidden!important;
    display: none!important;
}

#ngb-typeahead-0 {
    visibility: hidden!important;
    display: none!important;
}

#ngb-typeahead-0::after {
    visibility: hidden!important;
    display: none!important;
}

#rt {
    visibility: hidden!important;
    display: none!important;
}

#rt::after {
    visibility: hidden!important;
    display: none!important;
} */


/* .dropdown-menu.show {
    display: none!important;
}

::ng-deep .dropdown-menu {
    background-color: rebeccapurple!important;
    visibility: hidden;
} */